
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;

  /* font-family: 'Sevillana'; */
  /* font-family: 'Pacifico', cursive; */
}

h2 {
  font-family: 'Gilroy-Bold ☞';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  color: #070707;
}

p {
  font-family: 'Gilroy-Medium ☞';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #070707;
  line-height: 22px;
}

.wrapper {
  /* option_1 */
  max-width: 945px;
  margin: 0 auto;
}