.nav_block {
    /* Option_1 */
    display: flex;
    justify-content: space-between;
    
    /* Option_2 */
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */

    height: 88px;
    color: #828282;
    font-size: 18px;
    border-bottom: 1px solid #828282;
}

.nav_block div {
    display: flex;
    justify-content: center;
    align-items: center;
}